<fieldset>
  <legend>
    <%= "Form 1099-DIV ##{n+1}" %>
  </legend>
  <label>
    Payer Name
    <input name="f1099_div[][payer]" type="text" value="<%= f1099div.payer %>"></input>
  </label>
  <label>
    Payer TIN
    <input name="f1099_div[][payer_id]" type="text" value="<%= f1099div.payer_id %>"></input>
  </label>
  <label>
    Account Number
    <input name="f1099_div[][account_number]" type="text" value="<%= f1099div.account_number %>"></input>
  </label>
  <label>
    Ordinary Dividends
    <input min="0" name="f1099_div[][ordinary_dividends]" step="0.01" type="number" value="<%= f1099div.ordinary_dividends %>"></input>
  </label>
  <label>
    Qualified Dividends
    <input min="0" name="f1099_div[][qualified_dividends]" step="0.01" type="number" value="<%= f1099div.qualified_dividends %>"></input>
  </label>
  <button class="btn danger" formaction="/tax/data/income?rm_f1099_div=<%= n %>">
    <span class="icon icon-trash"></span>
    <span class="text">Remove 1099-DIV</span>
  </button>
</fieldset>
