<fieldset>
  <legend>
    <%= "Form 1099-INT ##{n+1}" %>
  </legend>
  <label>
    Payer Name
    <input name="f1099_int[][payer]" type="text" value="<%= f1099int.payer %>"></input>
  </label>
  <label>
    Payer FIN
    <input name="f1099_int[][payer_id]" type="text" value="<%= f1099int.payer_id %>"></input>
  </label>
  <label>
    Interest Paid
    <input min="0" name="f1099_int[][paid]" step="0.01" type="number" value="<%= f1099int.paid %>"></input>
  </label>
  <button class="btn danger" formaction="/tax/data/income?rm_f1099_int=<%= n %>">
    <span class="icon icon-trash"></span>
    <span class="text">Remove 1099-INT</span>
  </button>
</fieldset>
