<fieldset>
  <legend>
    <%= "Rental ##{n+1}" %>
  </legend>
  <label>
    Description
    <input name="rental[][description]" type="text" value="<%= rental.description %>"></input>
  </label>
  <label>
    Physical Address 
    <input name="rental[][physical_address]" type="text" value="<%= rental.physical_address %>"></input>
  </label>
  <label>
    Property Type 
    <select name="rental[][property_type]">
      <option selected="rental.property_type == "1"" value="1">Single Family</option>
      <option selected="rental.property_type == "2"" value="2">Multi Family</option>
      <option selected="rental.property_type == "3"" value="3">Vacation</option>
      <option selected="rental.property_type == "4"" value="4">Commercial</option>
      <option selected="rental.property_type == "5"" value="5">Land</option>
      <option selected="rental.property_type == "6"" value="6">Royalties</option>
      <option selected="rental.property_type == "7"" value="7">Self Rental</option>
      <option selected="rental.property_type == "8"" value="8">Other (Describe)</option>
    </select>
  </label>
  <label>
    Fair Rental Days 
    <input min="0" name="rental[][fair_rental_days]" type="number" value="<%= rental.fair_rental_days %>"></input>
  </label>
  <label>
    Personal Days
    <input min="0" name="rental[][personal_days]" type="number" value="<%= rental.personal_days %>"></input>
  </label>
  <label>
    QJV?
    <input checked="<%= rental.qualified_joint_venture %>" name="rental[][qualified_joint_venture]" type="checkbox"></input>
  </label>
  <label>
    Rents Received
    <input min="0" name="rental[][rents_received]" step="0.01" type="number" value="<%= rental.rents_received %>"></input>
  </label>
  <label>
    Royalties Received
    <input min="0" name="rental[][royalties_received]" step="0.01" type="number" value="<%= rental.royalties_received %>"></input>
  </label>
  <label>
    Advertising
    <input min="0" name="rental[][advertising]" step="0.01" type="number" value="<%= rental.advertising %>"></input>
  </label>
  <label>
    Auto
    <input min="0" name="rental[][auto]" step="0.01" type="number" value="<%= rental.auto %>"></input>
  </label>
  <label>
    Cleaning
    <input min="0" name="rental[][cleaning]" step="0.01" type="number" value="<%= rental.cleaning %>"></input>
  </label>
  <label>
    Commissions
    <input min="0" name="rental[][commissions]" step="0.01" type="number" value="<%= rental.commissions %>"></input>
  </label>
  <label>
    Insurance
    <input min="0" name="rental[][insurance]" step="0.01" type="number" value="<%= rental.insurance %>"></input>
  </label>
  <label>
    Legal Fees
    <input min="0" name="rental[][legal_fees]" step="0.01" type="number" value="<%= rental.legal_fees %>"></input>
  </label>
  <label>
    Management Fees
    <input min="0" name="rental[][management_fees]" step="0.01" type="number" value="<%= rental.management_fees %>"></input>
  </label>
  <label>
    Mortgage Interest
    <input min="0" name="rental[][mortgage_interest]" step="0.01" type="number" value="<%= rental.mortgage_interest %>"></input>
  </label>
  <label>
    Other Interest
    <input min="0" name="rental[][other_interest]" step="0.01" type="number" value="<%= rental.other_interest %>"></input>
  </label>
  <label>
    Repairs
    <input min="0" name="rental[][repairs]" step="0.01" type="number" value="<%= rental.repairs %>"></input>
  </label>
  <label>
    Supplies
    <input min="0" name="rental[][supplies]" step="0.01" type="number" value="<%= rental.supplies %>"></input>
  </label>
  <label>
    Taxes
    <input min="0" name="rental[][taxes]" step="0.01" type="number" value="<%= rental.taxes %>"></input>
  </label>
  <label>
    Utilities
    <input min="0" name="rental[][utilities]" step="0.01" type="number" value="<%= rental.utilities %>"></input>
  </label>
  <label>
    Depreciation
    <input min="0" name="rental[][depreciation]" step="0.01" type="number" value="<%= rental.depreciation %>"></input>
  </label>
  <label>
    Other (Description)
    <input name="rental[][other_desc]" type="text" value="<%= rental.other_desc %>"></input>
  </label>
  <label>
    Other (Amount)
    <input min="0" name="rental[][other_amount]" step="0.01" type="number" value="<%= rental.other_amount %>"></input>
  </label>
  <button class="btn danger" formaction="/tax/data/income?rm_rental=<%= n %>">
    <span class="icon icon-trash"></span>
    <span class="text">Remove Rental</span>
  </button>
</fieldset>
