<fieldset>
  <legend>
    <%= "W2 ##{n+1}" %>
  </legend>
  <label>
    a - Employee SSN
    <input name="w2[][ssn]" type="text" value="<%= w2.ssn %>"></input>
  </label>
  <label>
    b - EIN
    <input name="w2[][ein]" type="text" value="<%= w2.ein %>"></input>
  </label>
  <label>
    c - Employer
    <input name="w2[][employer]" type="text" value="<%= w2.employer %>"></input>
  </label>
  <label>
    1 - Wages
    <input min="0" name="w2[][wages]" step="0.01" type="number" value="<%= w2.wages %>"></input>
  </label>
  <label>
    2 - Federal W/H
    <input min="0" name="w2[][fed_wh]" step="0.01" type="number" value="<%= w2.fed_wh %>"></input>
  </label>
  <label>
    3 - Soc Sec Wages
    <input min="0" name="w2[][soc_sec_wages]" step="0.01" type="number" value="<%= w2.wages %>"></input>
  </label>
  <label>
    4 - Soc Sec Tax W/H
    <input min="0" name="w2[][soc_sec_wh]" step="0.01" type="number" value="<%= w2.soc_sec_wh %>"></input>
  </label>
  <label>
    5 - Medicare Wages
    <input min="0" name="w2[][medicare_wages]" step="0.01" type="number" value="<%= w2.medicare_wages %>"></input>
  </label>
  <label>
    6 - Medicare Taxes
    <input min="0" name="w2[][medicare_taxes]" step="0.01" type="number" value="<%= w2.medicare_taxes %>"></input>
  </label>
  <label>
    7 - Soc Sec Tips
    <input min="0" name="w2[][soc_sec_tips]" step="0.01" type="number" value="<%= w2.soc_sec_tips %>"></input>
  </label>
  <label>
    8 - Allocated Tips
    <input min="0" name="w2[][allocated_tips]" step="0.01" type="number" value="<%= w2.allocated_tips %>"></input>
  </label>
  <label>
    Box 9
    <input disabled="<%= true %>" min="0" name="w2[][box_9]" step="0.01" type="number" value="<%= w2.box_9 %>"></input>
  </label>
  <label>
    10 - Dep Care Benefits
    <input min="0" name="w2[][dep_care_benefits]" step="0.01" type="number" value="<%= w2.dep_care_benefits %>"></input>
  </label>
  <label>
    11 - Nonqual Plans
    <input min="0" name="w2[][nonqual_plans]" step="0.01" type="number" value="<%= w2.nonqual_plans %>"></input>
  </label>
  <label>
    12a - Code
    <input name="w2[][code_12a]" type="text" value="<%= w2.code_12a %>"></input>
  </label>
  <label>
    Box 12a
    <input name="w2[][box_12a]" type="text" value="<%= w2.box_12a %>"></input>
  </label>
  <label>
    13 - Statutory Employee?
    <input checked="<%= w2.statutory_employee %>" name="w2[][statutory_employee]" type="checkbox"></input>
  </label>
  <label>
    13 - Retirement Plan?
    <input checked="<%= w2.retirement_plan %>" name="w2[][retirement_plan]" type="checkbox"></input>
  </label>
  <label>
    13 - 3rd Party Sick Pay?
    <input checked="<%= w2.sick_pay %>" name="w2[][sick_pay]" type="checkbox"></input>
  </label>
  <label>
    12b - Code
    <input name="w2[][code_12b]" type="text" value="<%= w2.code_12b %>"></input>
  </label>
  <label>
    Box 12b
    <input name="w2[][box_12b]" type="text" value="<%= w2.box_12b %>"></input>
  </label>
  <label>
    14 - Other
    <input min="0" name="w2[][other]" step="0.01" type="number" value="<%= w2.other %>"></input>
  </label>
  <label>
    12c - Code
    <input name="w2[][code_12c]" type="text" value="<%= w2.code_12c %>"></input>
  </label>
  <label>
    Box 12c
    <input name="w2[][box_12c]" type="text" value="<%= w2.box_12c %>"></input>
  </label>
  <label>
    12d - Code
    <input name="w2[][code_12d]" type="text" value="<%= w2.code_12d %>"></input>
  </label>
  <label>
    Box 12d
    <input name="w2[][box_12d]" type="text" value="<%= w2.box_12d %>"></input>
  </label>
  <label>
    15 - State
    <input min="0" name="w2[][state]" step="0.01" type="text" value="<%= w2.state %>"></input>
  </label>
  <label>
    State EIN
    <input min="0" name="w2[][state_ein]" step="0.01" type="text" value="<%= w2.state_ein %>"></input>
  </label>
  <label>
    16 - State Wages
    <input min="0" name="w2[][state_wages]" step="0.01" type="number" value="<%= w2.state_wages %>"></input>
  </label>
  <label>
    17 - State Tax
    <input min="0" name="w2[][state_tax]" step="0.01" type="number" value="<%= w2.state_tax %>"></input>
  </label>
  <label>
    18 - Local Wages
    <input min="0" name="w2[][local_wages]" step="0.01" type="number" value="<%= w2.local_wages %>"></input>
  </label>
  <label>
    19 - Local Tax
    <input min="0" name="w2[][local_tax]" step="0.01" type="number" value="<%= w2.local_tax %>"></input>
  </label>
  <label>
    20 - Locality
    <input name="w2[][locality]" type="text" value="<%= w2.locality %>"></input>
  </label>
  <button class="btn danger" formaction="/tax/data/income?rm_w2=<%= n %>">
    <span class="icon icon-trash"></span>
    <span class="text">Remove W2</span>
  </button>
</fieldset>
