@page "/commodities"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PiggyBank.Data.Models
@inject CommodityService CommodityService
@inject ImportService ImportService

<h1>Commodities</h1>

<p>
@if (_importing)
{
    @:Importing commodities from GnuCash...
}
else
{
    <button @onclick="Import">Import from GnuCash</button>
}
</p>

@if (_commodities is object)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Mnemonic</th>
                <th>Cusip</th>
                <th>Symbol</th>
                <th>Precision</th>
                <th>Locked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var commodity in _commodities)
            {
                <tr>
                    <td>@commodity.Name</td>
                    <td>@commodity.Type</td>
                    <td>@commodity.Mnemonic</td>
                    <td>@commodity.Cusip</td>
                    <td>@commodity.Symbol</td>
                    <td>@commodity.Precision</td>
                    <td>@commodity.IsLocked</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private bool _importing;
    private IEnumerable<Commodity>? _commodities;

    protected override async Task OnInitializedAsync()
    {
        _commodities = await CommodityService.GetCommoditiesAsync();
    }

    protected async Task Import()
    {
        _importing = true;
        await ImportService.ImportCommodities();
        _commodities = await CommodityService.GetCommoditiesAsync();
        _importing = false;
    }
}
