@*
    Inspired by https://iamkate.com/code/tree-views/
*@

@page "/accounts"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PiggyBank.Data.Models
@inject AccountService AccountService
@inject ImportService ImportService

<h1>Accounts</h1>

<p>
    @if (_importing)
    {
        @:Importing accounts from GnuCash (@_recordsProcessed / @_recordCount)
    }
    else
    {
        <button @onclick="Import">Import from GnuCash</button>
    }
</p>

@if (_importing)
{
    <p>Table will update after import completes.</p>
}
else if (_accounts is object)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Commodity</th>
                <th>Description</th>
                <th>Hidden</th>
                <th>Locked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in _accounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.Type</td>
                    <td>@account.Commodity.Mnemonic</td>
                    <td>@account.Description</td>
                    <td>@account.IsHidden</td>
                    <td>@account.IsLocked</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    private bool _importing;
    private int _recordCount = 0;
    private int _recordsProcessed = 0;
    private IEnumerable<Account>? _accounts;

    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccountsAsync();
    }

    protected async Task Import()
    {
        _importing = true;

        var count = new Progress<int>(value => { _recordCount = value; base.StateHasChanged(); });
        var processed = new Progress<int>(value => { _recordsProcessed = value; base.StateHasChanged(); });
        await ImportService.ImportAccounts(processed, count, new CancellationToken());

        _accounts = await AccountService.GetAccountsAsync();
        _importing = false;
    }
}
