%h1 General Information
= styled_flash
%form{ method: "POST" }
  %input{ type: "hidden", name: "_token", value: PiggyBank::App.token }
  %fieldset
    %legend General Questions
    %label
      Filing Status
      %select{ name: "filing_status" }
        - PiggyBank::Tax::General::FILING_STATUSES.each do |k, v|
          %option{ value: k, selected: k.to_s == @general.filing_status }= v
    %label
      Virtual Currency?
      %input{ name: "virtual", type: "checkbox", checked: @general.virtual }
  %fieldset 
    %legend Address
    %label
      Street Address
      %input{ name: "street", type: "text", value: @general.street }
    %label
      Apt No
      %input{ name: "apt_no", type: "text", value: @general.apt_no }
    %label
      City
      %input{ name: "city", type: "text", value: @general.city }
    %label
      State
      %input{ name: "state", type: "text", value: @general.state }
    %label
      ZIP Code
      %input{ name: "zip", type: "text", value: @general.zip }
    %label
      Foreign Country
      %input{ name: "country", type: "text", value: @general.country }
    %label
      Province/State/County
      %input{ name: "province", type: "text", value: @general.province }
    %label
      Foreign Postal Code
      %input{ name: "post_code", type: "text", value: @general.post_code }
  %fieldset
    %legend Individual
    %label
      First Name and MI
      %input{ name: "first_name", type: "text", value: @general.first_name }
    %label 
      Last Name
      %input{ name: "last_name", type: "text", value: @general.last_name }
    %label
      SSN 
      %input{ name: "ssn", type: "text", value: @general.ssn}
    %label
      Birthday 
      %input{ name: "birthday", type: "date", value: @general.birthday }
    %label
      Is Blind?
      %input{ name: "blind", type: "checkbox", checked: @general.blind }
    %label
      Campaign Fund?
      %input{ name: "campaign", type: "checkbox", checked: @general.campaign } 
  %fieldset
    %legend Spouse
    %label
      First Name and MI
      %input{ name: "spouse_first_name", type: "text", value: @general.spouse_first_name }
    %label 
      Last Name
      %input{ name: "spouse_last_name", type: "text", value: @general.spouse_last_name }
    %label
      SSN 
      %input{ name: "spouse_ssn", type: "text", value: @general.spouse_ssn}
    %label
      Birthday 
      %input{ name: "spouse_birthday", type: "date", value: @general.spouse_birthday }
    %label
      Is Blind?
      %input{ name: "spouse_blind", type: "checkbox", checked: @general.spouse_blind } 
    %label
      Campaign Fund?
      %input{ name: "spouse_campaign", type: "checkbox", checked: @general.spouse_campaign } 
  - @general.dependents.each_with_index do |depend, n|
    %fieldset
      %legend= "Dependent ##{n+1}"
      %label 
        Name 
        %input{ name: "dependents[][name]", type: "text", value: depend.name }
      %label 
        Social Security Number 
        %input{ name: "dependents[][ssn]", type: "text", value: depend.ssn }
      %label
        Relation
        %input{ name: "dependents[][relation]", type: "text", value: depend.relation }
      %label
        Child Tax Credit?
        %input{ name: "dependents[][child_credit]", type: "checkbox", checked: depend.child_credit }
      %label 
        Credit for Other Dependents?
        %input{ name: "dependents[][other_credit]", type: "checkbox", checked: depend.other_credit }
      %button.btn.danger{ formaction: "/tax/data/general?rm_dep=#{n}" }
        %span.icon.icon-trash
        %span.text Remove Dependent
  .buttons
    %button.btn.primary{ formaction: "/tax/data/general?add_dep" }
      %span.icon.icon-plus
      %span.text Add Dependent

  .buttons
    %button.btn.primary{ formaction: "/tax/data/general" }
      %span.icon.icon-solid-check
      %span.text Save
    %a.btn.secondary{ href: '/tax/data' }
      %span.icon.icon-close
      %span.text Cancel
