fieldset 
  legend= "Cash Donation ##{n+1}"
  label
    Charity
    input(name="cash_donation[][charity]' type="text' value=cash_donation.charity)
  label
    Amount
    input(name="cash_donation[][amount]' type="number' step=0.01, min=0, value=cash_donation.amount)
  button.btn.danger(formaction="/tax/data/deduct?rm_cd=#{n}")
    span.icon.icon-trash
    span.text Remove Donation
