<ul class="accounts">
  <% accounts.each do |account| %>
    <li class="account">
      <span class="<%= account.is_placeholder %>" name placeholder="name">
        <a href="/account/<%= account.account_id %>"><
          <%= account.name %>
        </a>
      </span>
      <% unless account.parent.nil? %>
        <a class="btn primary" href="/account/<%= account.account_id %>?edit">
          <span class="icon icon-pencil"></span>
          <span class="sr-only">Edit </span>
        </a>
      <% end %>
      <a class="btn secondary" href="/account?parent_id=<%= account.account_id %>">
        <span class="icon icon-plus"></span>
        <span class="sr-only">Add Subaccount</span>
      </a>
      <% unless account.parent.nil? %>
        <a class="btn danger" href="/account/<%= account.account_id %>?delete">
          <span class="icon icon-trash"></span>
          <span class="sr-only">Trash  - if account.has_subaccounts?</span>
        </a>
      <% end %>
      <%= erb :"account/tree", locals: { accounts: account.subaccounts } %>
    </li>
  <% end %>
</ul>
