<h1>Delete Account?</h1>
<%= styled_flash %>
<form action="/account/<%= @account.account_id %>" method="POST">
  <input name="_method" type="hidden" value="DELETE"></input>
  <input name="_token" type="hidden" value="<%= PiggyBank::App.token %>"></input>
  <input name="version" type="hidden" value="<%= @account.version %>"></input>
  <%= erb :"account/as_dl" %>
  <div class="buttons">
    <button class="btn danger">
      <span class="icon icon-trash"></span>
      <span class="text">Delete</span>
    </button>
    <% # FUTURE: make this link do JS: history.back() %>
    <a class="btn secondary" href="/accounts">
      <span class="icon icon-close"></span>
      <span class="text">Cancel</span>
    </a>
  </div>
</form>
