@if (Model is object)
{
    <table>
        <colgroup span="@Model.MaxDepth"></colgroup>
        <colgroup>
            @for (var x = 1; x < Model.Columns.Count; x++)
            {
                <col />
            }
        </colgroup>
        <thead>
            <tr>
                <th id="@(Model.Name.ToLower())-@(Model.FirstColumn.ToLower())" scope="col" colspan="@Model.MaxDepth">@Model.FirstColumn</th>
                @foreach (var column in Model.Columns)
                {
                    <th id="@(Model.Name.ToLower())-@(column.ToLower())" scope="col" style="text-align: right;">@column</th>
                }
            </tr>
        </thead>
        @if (Model.Footer is object)
        {
            <tfoot>
                <tr>
                    <th headers="@(Model.Name.ToLower())-@(Model.FirstColumn.ToLower())" colspan="@Model.MaxDepth">@Model.Footer</th>
                    @for (var columnIndex = 0; columnIndex < Model.FooterValues.Count; columnIndex++)
                    {
                        <td headers="@(Model.Name.ToLower())-@(Model.Columns[columnIndex].ToLower())">@Model.FooterValues[columnIndex]</td>
                    }
                </tr>
            </tfoot>
        }
        <tbody>
            <TreeTable_Node Model="Model" Nodes="Model.Nodes" />
        </tbody>
    </table>
}

@code {
    [Parameter]
    public TreeTableModel? Model { get; set; }
}

