@if (Model is not null && Nodes is not null)
{
    foreach (var node in Nodes)
    {
        <tr>
            @if (node.Children.Count > 0)
            {
                var rowspan = node.CountAllChildren() + 1;
                <th headers="@(Model.Title.ToLower())-@(Model.FirstColumn.ToLower())" scope="rowgroup" rowspan="@rowspan">@node.Header</th>
            }
            else
            {
                <th scope="row">@node.Header</th>
            }

            @for (var d = Model.MaxDepth; d > Depth; d--)
            {
                <td aria-hidden="true"></td>
            }

            @for (var columnIndex = 0; columnIndex < node.Values.Count; columnIndex++)
            {
                <td headers="@(Model.Title.ToLower())-@(Model.Columns[columnIndex].ToLower())">@node.Values[columnIndex]</td>
            }
        </tr>

        if (node.Children.Count > 0)
        {
            <TreeTable_Node Model="Model" Nodes="node.Children" Depth="DepthPlusOne" />
        }
    }
}
