dl
  dt
    Active
  dd
    = @ofx.active
  dt
    Account
  dd
    = @ofx.account.name
  dt 
    URL
  dd
    = @ofx.url
  dt
    User
  dd
    = @ofx.user
  dt
    Password 
  dd
    *****
  dt
    FID
  dd  
    = @ofx.fid
  dt 
    FID Org
  dd
    = @ofx.fid_org
  dt
    Bank ID
  dd
    = @ofx.bank_id
  dt
    Bank Account ID
  dd
    *****
  dt
    Account Type
  dd
    = @ofx.account_type 