<h1>Education Information</h1>
<%= styled_flash %>
<form method="POST">
  <input name="_token" type="hidden" value="<%= PiggyBank::App.token %>"></input>
  <fieldset>
    <legend>Student Info</legend>
    <label>
      Student Name
      <input name="student_name" type="text" value="<%= @education.student_name %>"></input>
    </label>
    <label>
      Student SSN
      <input name="student_ssn" type="text" value="<%= @education.student_ssn %>"></input>
    </label>
  </fieldset>
  <fieldset>
    <legend>Institution</legend>
    <label>
      Institution Name
      <input name="institution_name" type="text" value="<%= @education.institution_name %>"></input>
    </label>
    <label>
      Institution Address
      <input name="institution_address" type="text" value="<%= @education.institution_address %>"></input>
    </label>
    <label>
      Institution EIN
      <input name="institution_ein" type="text" value="<%= @education.institution_ein %>"></input>
    </label>
  </fieldset>
  <fieldset>
    <legend>1098-T Questions</legend>
    <label>
      Received 1098-T?
      <input checked="<%= @education.received_1098 %>" name="[received_1098]" type="checkbox"></input>
    </label>
    <label>
      Was Box 7 Checked?
      <input checked="<%= @education.box_7_checked %>" name="[box_7_checked]" type="checkbox"></input>
    </label>
  </fieldset>
  <fieldset>
    <legend>Other Questions</legend>
    <label>
      Hope Credit or American Opportunity in prior 4 tax years?
      <input checked="<%= @education.hope_opportunity_claimed %>" name="[hope_opportunity_claimed]" type="checkbox"></input>
    </label>
    <label>
      Was student enrolled at least half-time for one period?
      <input checked="<%= @education.at_least_half_time %>" name="[at_least_half_time]" type="checkbox"></input>
    </label>
    <label>
      Did the student complete 4 years post-secondary before 2020?
      <input checked="<%= @education.postsecondary_completed %>" name="[postsecondary_completed]" type="checkbox"></input>
    </label>
  </fieldset>
  <fieldset>
    <legend>Lifetime Learning Credit</legend>
    <label>
      Qualified Expenses
      <input min="0" name="lifetime_credit_expenses" type="number" value="<%= @education.lifetime_credit_expenses %>"></input>
    </label>
  </fieldset>
  <fieldset>
    <legend>529 One</legend>
    <label>
      Institution
      <input name="m1529_name_1" type="text" value="<%= @education.m1529_name_1 %>"></input>
    </label>
    <label>
      Account
      <input name="m1529_account_1" type="text" value="<%= @education.m1529_account_1 %>"></input>
    </label>
    <label>
      Amount
      <input min="0" name="m1529_amount_1" type="number" value="<%= @education.m1529_amount_1 %>"></input>
    </label>
  </fieldset>
  <fieldset>
    <legend>529 Two</legend>
    <label>
      Institution
      <input name="m1529_name_2" type="text" value="<%= @education.m1529_name_2 %>"></input>
    </label>
    <label>
      Account
      <input name="m1529_account_2" type="text" value="<%= @education.m1529_account_2 %>"></input>
    </label>
    <label>
      Amount
      <input min="0" name="m1529_amount_2" type="number" value="<%= @education.m1529_amount_2 %>"></input>
    </label>
  </fieldset>
  <div class="button">
    <button class="btn primary" formaction="/tax/data/education">
      <span class="icon icon-solid-check"></span>
      <span class="text">Save</span>
    </button>
    <a class="btn secondary" href="/tax/data">
      <span class="icon icon-close"></span>
      <span class="text">Cancel</span>
    </a>
  </div>
</form>
