extends layout

block content
  h1 Mortgage Amortization
  form(method='POST')
    label Loan Amount
      input(name='principal' type='number' value='#{principal}' step='0.01')/
    label Interest Rate
      input(name='rate' type='number' value='#{rate}' step='0.01')/
    label # of Payments
      input(name='number' type='number' value='#{number}')/
    label Payment Period
      select(name='period')
        option Monthly

    if has_payments
      h2 Payment Amount #{payment_amount}
      table
        thead
          tr
            th
            th Payment
            th Prepayment
            th Interest
            th Principal
            th Balance
        tbody
          each payment in payments
            tr 
              td #{payment.number}
              td #{payment.total}
              td 
                input(name='prepayment-#{payment.number}' type='number' step='0.01' value='#{payment.prepayment}') 
              td #{payment.interest}
              td #{payment.principal}
              td #{payment.balance}

    button Calculate

