<h1>Deductions </h1>
<%= styled_flash %>
<form method="POST">
  <input name="_token" type="hidden" value="<%= PiggyBank::App.token %>"></input>
  <fieldset>
    <legend>General Deductions</legend>
    <label>
      State/Local Real Estate Tax
      <input name="real_estate_tax" type="text" value="<%= @deduct.real_estate_tax %>"></input>
    </label>
    <label>
      State/Local Property Tax
      <input name="property_tax" type="text" value="<%= @deduct.property_tax %>"></input>
    </label>
  </fieldset>
  <% @deduct.form1098s.each_with_index do |form1098, n| %>
    <%= erb :"tax/data/deduct/1098", locals: {form1098: form1098, n: n} %>
  <% end %>
  <% @deduct.cash_donations.each_with_index do |cash_donation, n| %>
    <%= erb :"tax/data/deduct/cash", locals: {cash_donation: cash_donation, n: n} %>
  <% end %>
  <% @deduct.noncash_donations.each_with_index do |noncash_donation, n| %>
    <%= erb :"tax/data/deduct/noncash", locals: {noncash_donation: noncash_donation, n: n} %>
  <% end %>
  <div class="buttons">
    <button class="btn primary" formaction="/tax/data/deduct?add_1098">
      <span class="icon icon-plus"></span>
      <span class="text">Add 1098</span>
    </button>
    <button class="btn primary" formaction="/tax/data/deduct?add_cd">
      <span class="icon icon-plus"></span>
      <span class="text">Add Cash Donation</span>
    </button>
    <button class="btn primary" formaction="/tax/data/deduct?add_ncd">
      <span class="icon icon-plus"></span>
      <span class="text">Add Non-Cash Donation</span>
    </button>
  </div>
  <div class="buttons">
    <button class="btn primary" formaction="/tax/data/deduct">
      <span class="icon icon-solid-check"></span>
      <span class="text">Save</span>
    </button>
    <a class="btn secondary" href="/tax/data">
      <span class="icon icon-close"></span>
      <span class="text">Cancel</span>
    </a>
  </div>
</form>
