h1 Delete Commodity?
= styled_flash
form{
  method='POST',
  action="/commodity/#{@commodity.commodity_id}"
}
  input{
    type='hidden',
    name='_method',
    value='DELETE'
 )
  input{
    type='hidden',
    name='_token',
    value=PiggyBank::App.token
 )
  input{
    type='hidden',
    name='version',
    value=@commodity.version
 )
  = haml :"commodity/as_dl"
  .buttons
    button.btn.danger
      span.icon.icon-trash
      span.text Delete
    -# FUTURE=make this link do JS=history.back()
    a.btn.secondary(href="/commodities")
      span.icon.icon-close
      span.text Cancel
