<h1>Settings</h1>
<p>
  There are no user manageable settings at this point. 
  The following settings are informational only.
</p>
<form>
  <label>
    Base Currency
    <select name='currency'>
      <% @currency_options.each do |opt| %>
        <option selected="<%= opt[:selected] %>" value="<%= opt[:value] %>">
          <%= opt[:name] %>
        </option>
      <% end %>
    </select>
  </label>
  <label>
    Locale
    <select name='locale'>
      <% @locale_options.each do |opt| %>
        <option select="<%= opt[:selected] %>" value="<%= opt[:value] %>">
          <%= opt[:name] %>
        </option>
      <% end %>
    </select>
  </label>
  <input class="btn primary" type='submit' value='Save' disabled></input>
</form>
