%dl
  %dt
    Type
  %dd
    = @commodity.type_string
  %dt 
    Name
  %dd
    = @commodity.name
  %dt
    Description
  %dd
    = @commodity.description 
  %dt
    Ticker
  %dd
    = @commodity.ticker
  %dt
    Fraction
  %dd
    -# TODO: make a fraction_string method
    = @commodity.fraction