<h1>Delete Commodity?</h1>
<%= styled_flash %>
<form method='POST' action='<%= "/commodity/#{@commodity.commodity_id}" %>'>
 <input type='hidden' name='_method' value='DELETE' />
<input type='hidden' name='_token' value='<%= PiggyBank::App.token %>' />
  <input name='version' type='hidden' value='<%= @commodity.version %>' />
<%= erb :"commodity/as_dl" %>
<div class="buttons">
  <button class="btn danger">
    <span class="icon icon-trash"></span>
    <span class="text">Delete</span>
  </button>
  <% # FUTURE: make this link do JS: history.back() %>
  <a href="/commodities" class="btn secondary">
    <span class="icon icon-close"></span>
    <span class="text">Cancel</span>
  </a>
</div>