<form action="<%= @action %>" method="POST">
<input name="_method" type="hidden" value="<%= @method %>"></input>
<input name="_token" type="hidden" value="<%= PiggyBank::App.token %>"></input>
<input name="version" type="hidden" value="<%= @commodity.version %>"></input><label>
  Type
  <select>(name='type')
    <option>(value='') [Choose Commodity Type]</option>
    <% @commodity.type_opts.each do |opt| %>
      <option selected="<%= opt[:selected] %>" value="<%= opt[:value] %>">
        <%= opt[:text] %>
      </option>
    <% end %>
  </select>
</label>
<label>
  Name
  <input name="name" required="<%= true %>" type="text" value="<%= @commodity.name %>"></input>
</label>
<label>
  Description
  <input name="description" required="<%= true %>" type="text" value="<%= @commodity.description %>"></input>
</label>
<label>
  Тicker
  <input  type='text' name='ticker' value='<%= @commodity.ticker %>' />
</label>
<label>
  Fraction
  <select>(name='fraction')
    <option>[Choose Fraction]</option>
    <% @commodity.fraction_opts.each do |opt| %>
      <option selected="<%= opt[:selected] %>" value="<%= opt[:value] %>">
        <%= opt[:text] %>
      </option>
    <% end %>
  </select>
</label>
<div class="buttons">
  <button class="btn primary">
    <span class="icon icon-solid-check"></span>
    <span class="text">Save</span>
  </button>
  <% # FUTURE: make this link do JS: history.back() %>
  <a class="btn secondary">(href='/commodities')
    <span class="icon icon-close"></span>
    <span class="text">Cancel</span>
  </a>
</div>
</form>
