<h2><%= header %></h2>
<form method='POST'>
  <input id='_token' type='hidden' name='_token' value='<%= PiggyBank::App.token %>' />
  <label>
    Type
    <select name='type'>
      <option value=''>[Choose Commodity Type]</option>
      <% commodity.type_opts.each do |opt| %>
        <option value='<%= opt[:value] %>' <%= opt[:selected] ? "selected='selected'" : "" %>>
          <%= opt[:text] %>
        </option>
      <% end %>
    </select>
  </label>
  <label>
    Name
    <input required type='text' name='name' value='<%= commodity.name %>' />
      </label>
      <label>
        Description
        <input required type='text'  name='description' value='<%= commodity.description %>' />
      </label>
      <label>
        Тicker
        <input type='text' name='ticker' value='<%= commodity.ticker %>' />
      </label>
      <label >
        Fraction
        <select name='fraction'>
          <option>[Choose Fraction]</option>
          <% commodity.fraction_opts.each do |opt| %>
            <option value='<%= opt[:value] %>' <%= opt[:selected] ? "selected='selected'" : "" %>>
              <%= opt[:text] %>
            </option>
          <% end %>
        </select>
      </label>
      <div class='buttons'>
        <button class='btn primary'><span class='icon-solid-check'></span> Save</button>
        <a href="/commodities" class='btn secondary'><span class='icon-close'></span> Cancel</a>
      </div>
    </form>
