<h1>Commodities</h1>
<%= styled_flash %>
<div><a href="/commodity/new">New Commodity</a></div>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Ticker</th>
      <th>Fraction</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% commodities.each do |commodity| %>
      <tr>
        <td><%= commodity.name %></td>
        <td><%= commodity.description %></td>
        <td><%= commodity.type_string %></td>
        <td><%= commodity.ticker %></td>
        <td><%= commodity.fraction %></td>
        <td>
          <a class='btn primary' href='/commodity/edit/<%= commodity.commodity_id %>'>
            <span class='icon icon-pencil'></span>
            <span class='sr-only'>Edit</span>
          </a>
          <a class='btn danger' href='/commodity/delete/<%= commodity.commodity_id %>'>
            <span class='icon icon-trash'>
            </span><span class='sr-only'>Trash</span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
