<form action="<%= @action %>" class="api_key" method="POST">
  <fieldset>
    <input name="_method" type="hidden" value="<%= @method %>"></input>
    <input name="_token" type="hidden" value="<%= PiggyBank::App.token %>"></input>
    <input name="version" type="hidden" value="<%= @api_key.version %>"></input>
    <label>
      Description
      <input name="description" type="text" value="<%= @api_key.description %>"></input>
    </label>
    <label>
      Value
      <input name="value" type="text" value="<%= @api_key.value %>"></input>
    </label>
  </fieldset>
  <div class="buttons">
    <button class="btn primary">
      <span class="icon icon-solid-check"></span>
      <span class="text">Save</span>
    </button>
    <% # FUTURE: make this link do JS: history.back() %>
    <a class="btn secondary" href="/api_keys">
      <span class="icon icon-close"></span>
      <span class="text">Cancel</span>
    </a>
  </div>
</form>
