<h1>API Keys</h1>
<%= styled_flash %>
<div>
  <a href="/api_key">New API Key</a>
</div>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @api_keys.each do |api_key| %>
      <tr>
        <td>
          <a href="/api_key/<%= api_key.api_key_id %>">
            <%= api_key.description %>
          </a>
        </td>
        <td>
          <%= api_key.value %>
        </td>
        <td>
          <a class="btn primary" href="/api_key/<%= api_key.api_key_id %>?edit">
            <span class="icon icon-pencil"></span>
            <span class="sr-only">Edit </span>
          </a>
          <a class="btn danger" href="/api_key/<%= api_key.api_key_id %>?delete">
            <span class="icon icon-trash"></span>
            <span class="sr-only">Trash</span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
