<h1>Transactions</h1>
<%= styled_flash %>
<div>
  <a href='/tx'>New Transaction</a>
</div>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @txs.each do |tx| %>
      <tr>
        <td>
          <a href="/tx/<%= tx.tx_id %>">
            <%= tx.post_date %>
          </a>
        </td>
        <td>
          <a class="btn primary" href="/tx/<%= tx.tx_id %>?edit">
            <span class="icon icon-pencil"></span>
            <span class="sr-only">Edit </span>
          </a>
          <a class="btn danger" href="/tx/<%= tx.tx_id %>?delete">
            <span class="icon icon-trash"></span>
            <span class="sr-only">Trash</span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
