%h1 Prices
= styled_flash
%div
  %a(href='/price') New Price 
%table
  %thead
    %tr
      %th Commodity
      %th Quote Date
      %th Value
      %th Currency
      %th
  %tbody
    - @prices.each do |price|
      %tr
        %td
          %a{href: "/commodity/#{price.commodity.commodity_id}" }= price.commodity.name 
        %td= price.quote_date
        %td= price.value_string 
        %td= price.currency.name
        %td
          %a.btn.primary{ href: "/price/#{price.price_id}?edit" }
            %span.icon.icon-pencil
            %span.sr-only Edit 
          %a.btn.danger{ href: "/price/#{price.price_id}?delete" }
            %span.icon.icon-trash
            %span.sr-only Trash