<fieldset>
  <legend>
    <%= "1098 ##{n+1}" %>
  </legend>
  <label>
    1 - Interest Received
    <input min="0" name="form1098[][interest]" step="0.01" type="number" value="<%= form1098.interest %>"></input>
  </label>
  <label>
    2 - Outstanding Principal
    <input min="0" name="form1098[][outstanding]" step="0.01" type="number" value="<%= form1098.outstanding %>"></input>
  </label>
  <label>
    3 - Origination Date
    <input name="form1098[][origination]" type="date" value="<%= form1098.origination %>"></input>
  </label>
  <label>
    4 - Refund
    <input min="0" name="form1098[][refund]" step="0.01" type="number" value="<%= form1098.refund %>"></input>
  </label>
  <label>
    5 - Premiums
    <input min="0" name="form1098[][premiums]" step="0.01" type="number" value="<%= form1098.premiums %>"></input>
  </label>
  <label>
    6 - Points Paid
    <input min="0" name="form1098[][points_paid]" step="0.01" type="number" value="<%= form1098.points_paid %>"></input>
  </label>
  <label>
    7 - Same Address?
    <input name="form1098[][same_address]" selected="<%= form1098.same_address %>" type="checkbox"></input>
  </label>
  <label>
    8 - Address
    <input name="form1098[][address]" type="text" value="<%= form1098.address %>"></input>
  </label>
  <label>
    9 - Properties
    <input min="0" name="form1098[][properties]" type="number" value="<%= form1098.properties %>"></input>
  </label>
  <label>
    10 - Other
    <input name="form1098[][other]" type="text" value="<%= form1098.other %>"></input>
  </label>
  <label>
    11 - Acquisition Date
    <input name="form1098[][acquisition]" type="date" value="<%= form1098.acquisition %>"></input>
  </label>
  <button class="btn danger" formaction="/tax/data/deduct?rm_1098=<%= n %>">
    <span class="icon icon-trash"></span>
    <span class="text">Remove 1098</span>
  </button>
</fieldset>
