form.tx(method="POST' action=@action)
  fieldset
    input(type="hidden' name="_method' value=@method)
    input(type="hidden' name="_token' value=PiggyBank::App.token)
    input(type="hidden' name="version' value=@tx.version)
    label
      Date
      input(name="post_date' type="date' value=@tx.post_date)
    label
      Number
      input(name="number' type="text' value=@tx.number)
    label
      Description
      input(name="description' type="text' value=@tx.description)

  - @tx.splits.each do |split|
    fieldset
      input(type="hidden' name="splits[][split_id]' value=split.split_id)
      input(type="hidden' name="splits[][version]' value=split.version)
      label
        Account
        select(name="splits[][account_id]")
          - PiggyBank::Account.account_opts(split.account).each do |opt|
            option(value=opt[:value], selected=opt[:selected])
              = opt[:text]
      label
        Memo
        input(name="splits[][memo]' type="text' value=split.memo)
      label
        Amount
        input(name="splits[][amount]' type="number' value=split.amount)
      label
        Value
        input(name="splits[][value]' type="number' value=split.value)
  .buttons
    button.btn.primary
      span.icon.icon-solid-check
      span.text Save
    -# FUTURE=make this link do JS=history.back()
    a.btn.secondary(href="/txs")
      span.icon.icon-close
      span.text Cancel
