@model ICollection<AccountBalance>

@{
    foreach (var account in @Model)
    {
        @if (account.Children.Count > 0)
        {
            <li class="@(account.IsHidden ? "hidden-account": "")">
                <details>
                    <summary>@account.Name : @account.BalanceDisplay</summary>
                    <ul>
                        <partial name="_ExpenseListPartial" model="account.Children" />
                    </ul>
                </details>
            </li>
        }
        else
        {
            <li class=" @(account.IsHidden ? "hidden-account" : "")">@account.Name : @account.BalanceDisplay</li>
        }
    }
}