@attribute [Route(PageRoute.BudgetIndex)]

<h1>Manage Budgets</h1>

<p>A budget is a collection of budget amounts. Each budget amount is tied to a given period (month or year) and account.</p>

<p><a class="btn btn-primary" href="@PageRoute.BudgetAdd"><svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg> Add New Budget</a></p>

@if (_budgets is not null)
{
    <table>
        <caption>Budgets</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Starts</th>
                <th scope="col">Ends</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budget in _budgets)
            {
                if (budget.IsHidden) 
                {
                    continue;
                }
                <tr>
                    <th scope="row"><a href="@PageRoute.BudgetEditFor(budget.Id)">@budget.Name</a></th>
                    <td>@budget.Description</td>
                    <td>@budget.StartDate</td>
                    <td>@budget.EndDate</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}
