@attribute [Route(PageRoute.BudgetAmountCalculate)]

<PageTitle>Calculate Budget Amounts</PageTitle>

@if (!_found)
{
    <Notifications_NotFound Message="@_notFoundMessage" />
}
else if (_budget is not null)
{
    <h1>Calculate Amounts for Budget "@_budget.Name"</h1>

    <details class="pt1">
        <summary>
            <h2 class="ib">About Calculating Amounts (click for more...)</h2>
        </summary>
        <p>
            Use the form on this page to automatically calculate budget amounts to the budget "@(_budget.Name)".
        </p>
        <p>
            If you select a default period of "monthly" there will be an amount budgeted for each month in the
            budget range of @(_budget.StartDate) to @(_budget.EndDate). Selecting "annual" will result in only
            one budget for the entire year.
        </p>
        <p>
            "Use Data From" controls what past periods to use when calculating budget amounts. PiggyBank computes
            the average monthly or annual amount by adding the total of all transactions in that range and dividing
            by the number of periods.
        </p>
        <p>
            You must select at least one account type to create budget amounts for. Most users will want to use at
            least the Expense account type to track spending, but it is also possible to include Income, Assets, and
            Liabilities.
        </p>
    </details>

    <EditForm EditContext="_editContext" OnValidSubmit="CalculateAmounts" style="position:absolute;">
        <DataAnnotationsValidator />
        <ValidationSummary role="alert" aria-label="budget form errors" />

        <fieldset>
            <legend>Default Period Type</legend>
            <InputRadioGroup @bind-Value="_model.DefaultPeriod">
                <label class="form-control">
                    <InputRadio Value="DateHelper.PeriodType.Monthly" />
                    Monthly
                </label>
                <label class="form-control">
                    <InputRadio Value="DateHelper.PeriodType.Annual" />
                    Annual
                </label>
            </InputRadioGroup>
        </fieldset>
        <fieldset>
            <legend>Use Data From</legend>
            <div class="field">
                <label for="amount-start-date">Start Date</label>
                <InputDate id="amount-start-date" @bind-Value="_model.StartDate" />
            </div>
            <div class="field">
                <label for="amount-end-date">End Date</label>
                <InputDate id="amount-end-date" @bind-Value="_model.EndDate" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Account Types to Include</legend>
            <label>
                <InputCheckbox @bind-Value="_model.IncludeAsset" />
                Asset
            </label>
            <label>
                <InputCheckbox @bind-Value="_model.IncludeExpense" />
                Expense
            </label>
            <label>
                <InputCheckbox @bind-Value="_model.IncludeIncome" />
                Income
            </label>
            <label>
                <InputCheckbox @bind-Value="_model.IncludeLiability" />
                Liability
            </label>
        </fieldset>
        <div class="field">
            <label for="round-to">Decimal places to round to</label>
            <InputNumber @bind-Value="_model.RoundTo" />
        </div>

        <div class="buttons">
            <button class="primary" type="submit">Calculate Amounts</button>
            <button class="light" type="button" @onclick="Cancel">Cancel</button>
        </div>
    </EditForm>
}
else
{
    <p>Loading...</p>
}
